<p>
  Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>

<p>
  Used letters: <%= @tally.letters_used |> Enum.join(", ") %>
</p>


<%= if game_over?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [ as: :make_move, method: :put ], fn f -> %>
    <%= text_input(f, :guess) %>
    <%= submit("Make next move") %>
  <% end) %>
<% end %>
